.section {
  padding: 30px 40px;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
}

.list {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding-bottom: 10px;

  scrollbar-width: none;
  -ms-overflow-style: none;

  scroll-behavior: smooth;
}

.list::-webkit-scrollbar {
  display: none;
}

.card {
  min-width: 300px;
  height: 170px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  z-index: 1;
  pointer-events: none;
}

.card:hover {
  transform: scale(1.05);
}

.name {
  position: absolute;
  bottom: 10px;
  left: 12px;
  right: 12px;
  font-size: 14px;
  font-weight: 500;
  z-index: 2;
  color: white;
}
